<div *ngIf="model">
<h1>Hello {{model.ProjectName}}</h1>
</div>
<div *ngIf="!model">
<h1>Geht ned... - {{test}}</h1>
</div>
<div>
    <ul>
    <li *ngFor="let timeTrackingEntry of timeTrackingList">
        Name: {{timeTrackingEntry.ProjectName}}, Start: {{timeTrackingEntry.Start}}, End: {{timeTrackingEntry.End}}
    </li>
    </ul>
</div>
<!--
<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="ProjectName">Project name: </label>
         <input [(ngModel)]="model.ProjectName" #name="ngModel" name="ProjectName" type="text" class="form-control" id="ProjectName" required placeholder="project name">
    </div>
</form>
    <div class="form-group">
         <label class="sr-only" for="Start">Start Date: </label>
         <input [(ngModel)]="model.Start" name="Start" type="text" class="form-control" id="Start" required placeholder="start date">
    </div>
    <div class="form-group">
         <label class="sr-only" for="End">End Date: </label>
         <input [(ngModel)]="model.End" name="End" type="text" class="form-control" id="End" required placeholder="end date">
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-default" (click)="onAddNewProjectButton()">add Project to list</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</form>
<div>
    <table class="table table-stripped">
        <tr>
            <th>Project Name</th>
            <th>Start Date</th>
            <th>Ende Date</th>
        </tr>
        <tr *ngFor="let timeTrackingEntry of timeTrackingList">
            <td>{{timeTrackingEntry.ProjectName}}</td>
            <td>{{timeTrackingEntry.Start}}</td>
            <td>{{timeTrackingEntry.End}}</td>
        </tr>
    </table>
<div>
-->